<div class="container">

  <h4 class="h4 mt-4 mb-4">Lista de empleados</h4>
  
  <div *ngIf="cargando" class="alert alert-info md-6"><h6>Cargando...</h6></div>
  
  <div *ngIf = "empleados.length === 0 && !cargando">
    <h6>No hay empleados par mostrar</h6>
  </div>
  
  <ul class="list-group">
    <li *ngFor="let empleado of empleados" class="list-group-item">
      <a [routerLink]="['/empleado', empleado.id]" class="list-group-item list-group-item-action">
        <h6 class="h6">{{ empleado.nombre + " " + empleado.apellido | uppercase }}</h6>
        <h6><span>Cédula:</span><span>{{empleado.cedula}}</span></h6>
        <h6>
          <span>Fecha nacimiento:</span><span>{{empleado.fechaNacimiento | date:'short'}}</span>
          <span>Edad:</span><span>{{empleado.fechaNacimiento | edad}}</span>
          <span>Sexo:</span><span>{{empleado.sexo}}</span>
        </h6>
      </a>
    </li>
  </ul>
  
  <div id="div-nuevo" class="container">
    <a [routerLink]="['/empleado','nuevo']">Crear nuevo</a>
  </div>
</div>

