
  <!--Cabecera de la página-->
  <header>
      <!--Barra de menú-->
      <nav>
        <div class="container">
          <!--Lista de links-->
          <ul>
            <!--Titulo de tienda-->
            <li>
              <h1>Tegett</h1>
              <h6>Plan semilla</h6>
            </li>
            <!--link Artículos-->
            <li routerLinkActive="link-active">
              <a [routerLink]="['/home']" title="Home">Home</a>
            </li>
            <!--link Artículos-->
            <li routerLinkActive="link-active">
              <a [routerLink]="['/empleados']" title="Empleados">Empleados</a>
            </li>
          </ul>
        </div>
      </nav>
  </header>

  
